/* src/components/ArtistList.css */
.artist-list h1 {
    text-align: center;
}

.podium-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.podium {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.podium-place {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-0 {
    /* Primer lugar */
    grid-column: 2;
    grid-row: 1;
}

.place-1 {
    /* Segundo lugar */
    grid-column: 1;
    grid-row: 2;
}

.place-2 {
    /* Tercer lugar */
    grid-column: 3;
    grid-row: 2;
}

.podium-number {
    font-size: 2rem;
    font-weight: bold;
}

.other-artists {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

.artist-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.artist-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.artist-name {
    font-weight: 500;
    margin-right: 10px;
}

.artist-position {
    font-weight: bold;
}