.track-list {
  text-align: center;
}

.track-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.track-card {
  width: 200px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-accent);
  background-color: var(--color-complementary);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* Posición relativa para el contenedor */
}

.track-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.track-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.track-details {
  padding: 10px;
  position: relative; /* Posición relativa para permitir el posicionamiento absoluto del audio */
  height: calc(100% - 210px); /* Altura ajustada para acomodar la imagen y el audio */
  overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
  color: var(--color-background);
}

.track-position, .track-artist {
  display: block; /* Asegura que cada elemento esté en su propia línea */
  font-weight: bold;
}

.track-audio {
  position: absolute;
  bottom: 25px; /* Alineado al fondo con un pequeño margen */
  left: 0;
  right: 0;
  width: 80%; /* Ancho del reproductor de audio como un porcentaje del contenedor padre */
  max-width: 160px; /* Ancho máximo para el reproductor de audio */
  margin: auto; /* Centra el reproductor de audio horizontalmente */
  background-color: #06130b;
  border: 2px solid var(--color-accent);
  border-radius: 5px;
}