/* Paleta de colores */
:root {
  --color-base: #1DB954; /* Verde brillante como color base */
  --color-darker: #358551; /* Un tono de verde más oscuro */
  --color-lighter: #00EB52; /* Verde claro */
  --color-accent: #31523C; /* Un verde más profundo como color de acento */
  --color-complementary: #141916; /* Un verde muy oscuro, casi negro, como color complementario */
  --color-background: #ffffff; /* Blanco para el fondo para mayor contraste */
  --color-text: #333333; /* Casi negro para el texto para máxima legibilidad */
  --color-dark-shade: #2B473E; /* Una sombra de verde más oscura */
  --color-medium-shade: #4C8C74; /* Un tono medio de verde */
  --color-light-shade: #76C19E; /* Un tono más claro de verde */
  --color-pale-green: #AEDFC2; /* Un verde pálido */
  --color-very-dark: #0D2618; /* Un verde muy oscuro, casi negro */
  --color-soft-green: #6FAF83; /* Un verde suave y medio */
}
