/* Estilos existentes... */

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* Asegura que el menú desplegable se posicione en relación a este contenedor */
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-name {
    margin-left: 10px;
    color: var(--color-background);
    cursor: pointer;
}

.user-profile:hover .user-dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.user-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 160px;
    background-color: var(--color-background);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    margin: 2px 0 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.dropdown-item {
    padding: 5px;
    text-align: center;
    color: var(--color-complementary);
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-item:hover {
    text-decoration: underline;
}

.loading-gif {
    width: 50px;
    /* O el tamaño que prefieras */
    height: 50px;
    /* Otros estilos que necesites */
    border-radius: 50%;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .user-profile {
        justify-content: center;
        /* Centra el perfil del usuario en tabletas */
    }

    .user-dropdown-menu {
        left: 50%;
        /* Posiciona el menú desplegable centrado debajo del perfil */
        transform: translateX(-50%) translateY(-10px);
        /* Ajusta la posición */
    }
}

@media (max-width: 480px) {
    .user-name {
        display: none;
        /* Oculta el nombre en pantallas pequeñas para ahorrar espacio */
    }

    .user-dropdown-menu {
        width: 100%;
        /* El menú desplegable ocupa todo el ancho en pantallas pequeñas */
        left: 0;
        /* Ajusta la posición */
        transform: translateY(-10px);
    }
}