/* HomePage.css */

/* Estilo para el contenedor principal de la cabecera */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Cambiado a center */
    align-items: center;
    padding: 10px;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: var(--color-complementary);
}

/* Estilo para el contenedor de las tabs */
.tabs-container {
    display: flex;
    align-items: center;
    margin-right: 30%;
    /* Añade un margen derecho a cada elemento excepto el último */
}

/* Estilos para los botones dentro del contenedor de las tabs */
.tabs-container button {
    margin-right: 10px;
    /* Espacio entre botones */
    padding: 8px 15px;
    /* Relleno para hacer los botones más grandes y fáciles de clickear */
    background-color: var(--color-darker);
    /* Color de fondo para los botones */
    border: 1px solid var(--color-very-dark);
    /* Borde sutil para los botones */
    border-radius: 4px;
    /* Bordes redondeados para los botones */
    cursor: pointer;
    /* Cambiar el cursor al pasar el ratón sobre los botones */
    transition: background-color 0.3s;
    /* Transición suave para el hover */
    color: var(--color-very-dark);
}

/* Cambio de estilo al pasar el ratón sobre los botones */
.tabs-container button:hover {
    background-color: var(--color-base);
    border: 1px solid var(--color-background);
    /* Cambio de color al pasar el ratón */
}

/* Estilo para el botón activo (si se implementa) */
.tabs-container button.active {
    background-color: var(--color-base);
    color: var(--color-very-dark);
    border: 1px solid var(--color-very-dark);
    /* Color diferente para el botón activo */
}

/* Estilos adicionales para el UserProfile si es necesario */
.main-content {
    padding-top: 80px;
    /* Asegúrate de que este valor sea igual o mayor a la altura del header-container */
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideFromRight 0.5s forwards;
}

.loading-gif-homepage {
    width: 400px;
    /* O el tamaño que prefieras */
    height: 400px;
    /* Otros estilos que necesites */
    border-radius: 50%;
}