/* HomePage.css */

/* Estilo para el contenedor principal de la cabecera */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Ajustado para incluir el botón de hamburguesa */
    align-items: center;
    padding: 10px;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: var(--color-complementary);
}

/* Estilo para el botón de hamburguesa (oculto por defecto) */
.hamburger-button {
    display: none;
    /* Oculto en pantallas grandes */
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--color-base);
}

/* Estilo para el contenedor de las tabs */
.tabs-container {
    display: flex;
    align-items: center;
    margin-right: 30%;
    /* Resto de tus estilos... */
}

/* Estilos para los botones dentro del contenedor de las tabs */
.tabs-container button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: var(--color-darker);
    border: 1px solid var(--color-very-dark);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: var(--color-very-dark);
}

/* Cambio de estilo al pasar el ratón sobre los botones */
.tabs-container button:hover {
    background-color: var(--color-base);
    border: 1px solid var(--color-background);
}

/* Estilo para el botón activo (si se implementa) */
.tabs-container button.active {
    background-color: var(--color-base);
    color: var(--color-very-dark);
    border: 1px solid var(--color-very-dark);
}

/* Estilos adicionales para el UserProfile si es necesario */
.main-content {
    padding-top: 80px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideFromRight 0.5s forwards;
}

.loading-gif-homepage {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .hamburger-button {
        display: block;
        /* Muestra el botón en dispositivos móviles */
    }

    .tabs-container {
        display: none;
        /* Oculta las tabs por defecto en dispositivos móviles */
        flex-direction: row;
        /* Cambia la dirección de la flex a horizontal */
        position: absolute;
        top: 70px;
        left: 10px;
        width: 95%;
        background-color: var(--color-complementary);
        justify-content: space-around;
        /* Distribuye las tabs uniformemente */
        padding: 10px 0;
        /* Añade relleno para evitar que toque los bordes */
    }

    .tabs-container.show {
        display: flex;
        margin: 5px;
        /* Muestra las tabs cuando se hace clic en el botón de hamburguesa */
    }

    /* Estilos para los botones dentro del contenedor de las tabs en móviles */
    .tabs-container button {
        flex-grow: 1;
        /* Permite que los botones crezcan para llenar el espacio */
        /* Ajustes adicionales para mejorar la apariencia y accesibilidad */
    }
}